@model IEnumerable<GRIDevelopment.Contract.DTO.SupplierDTO>

@{
    ViewData["Title"] = "Index";
}




<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-12 col-10">
            <h1>Supplier List</h1>
            <p>
                @Html.ActionLink("ADD NEW", "AddEditSupplier")
            </p>
        </div>
      </div>
    </div>
</div>



<form asp-controller="Supplier" asp-action="Index" method="get">

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex">
          <h5 class="d-flex">Supplier Name :</h5>
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control-sm " name="SearchString" id="inlineFormInputGroup" placeholder="Search">
                  <button class="btn btn-outline-dark" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                  </button>  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</form>


<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive" >
            <table class="table table-bordered ">
              <thead class="thead-dark">
                <tr>
                  <th>
                Id
            </th>
            <th>
                Supplier Name
            </th>
            <th>
                Supplier Address
            </th>
            <th>
                Supplier Contact
            </th>
            <th>
                Edit / Delete
            </th>
                </tr>
              </thead>
              <tbody>
@foreach (var item in Model){
    <tr>
                  <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupContact)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddEditSupplier", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Remove", new { id = item.Id })
            </td>
                </tr>
}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
